.banner {
    background-color: lavenderblush;
    margin-top: 75px;
    text-align: center;
    padding: 100px 0;
}

#small-ledzep {
    height: 100px;
    width: 160px;
}

#ledzep {
    color: #df3a13;
    font-size: 100px;
}

.bold {
    font-weight: 900;
}